<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>

    <table border="1px">
        <tr>
            <td>NOME FANTASIA</td>
            <td>DATA FABRICACAO</td>
            <td>COR</td>
            <td>ALTURA</td>
            <td>PRECO</td>
            <td>PESO</td>
        </tr>
        <%for(var i=0; i<resultsHTML.length;i++>){%>
            <tr>
                <td><%= resultsHTML[i].nomeFantasia%></td>
                <td><%= resultsHTML[i].dataFabricacao%></td>
                <td><%= resultsHTML[i].cor%></td>
                <td><%= resultsHTML[i].altura%></td>
                <td><%= resultsHTML[i].preco%></td>
            </tr>
        <%}%>       
    </table>
</body>

</html>